#topLogo {
	height: 100px;
	background-image: url('assets/pokeLogo.png');
	/* background-size: cover; */
}

body {
	/* opacity: 1; */
	/* background-color: rbg(0, 0, 0, 0); */
	background-image: rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5);
	/* border: 4px solid black; */
	/* background-image: url('assets/pokemon-influence.png'); */
	width: 300px;
}

.wrapper {
	/* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; */
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	/* border-radius: 50%;
	background-color: orange; */
}

.pokemon {
	/* display: flex; */
	margin-left: auto;
	margin-right: auto;
}

#pokeImage {
	display: flex;
	height: auto;
	width: 150px;
	margin: auto;
	text-align: center;
	padding-bottom: 20px;
}

.pokeSearch {
	width: 100%;
	display: flex;
	text-align: center;
	/* flex-grow: 1; */
	/* flex-direction: row; */
	/* justify-content: center;
    align-items: center; */
	margin-top: 20px;
	/* margin-top: 90%;
    margin-bottom: 10%; */
}

.pokeSearch #pokeSearchText {
	width: 100%;
}

.pokeSearch #myButton {
}

h1 {
	text-align: center;
	font-family: 'Pokemon Solid', sans-serif;
	font-size: 60px;
	color: white;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	letter-spacing: 0.01em;
	text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
}

.stats {
	width: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	font-family: monospace;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	color: white;
	background-color: black;
}
